@{
    Layout = "_Layout";
}

@{ 
    ViewData["Title"] = "All books";
}

@model IEnumerable<CarModel>

<div class="card navbar-transparent bg-main" style="float:left; width: 18.5rem; height: 42.1rem; margin-left:-13.3rem; margin-top:-0.8rem;">
    <img src="~/images/logoauto.png" height="100" width="120" style="margin-top:0.3rem; margin-left:0.5rem;" />
    <div class="card-body">
        <h3 style="margin-left:7.4rem; margin-top:-6rem; color:black; font-weight:inherit;">Car Search</h3>
        <div class="container" style="margin-top:2.7rem; margin-left:-1rem;">
            <label for="country" style="font-size:18px; color:white">Country:</label>
            <select name="country" id="country" style="width:16rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="marks" style="font-size:18px; color:white">Mark:</label>
            <select name="marks" id="marks" style="width:16rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="models" style="font-size:18px; color:white">Model:</label>
            <select name="models" id="models" style="width:16rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="fuel_type" style="font-size:18px; color:white">Fuel Type:</label>
            <select name="fuel_type" id="fuel_type" style="width:16rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="body" style="font-size:18px; color:white">Body:</label>
            <select name="body" id="body" style="width:16rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="year" style="font-size:18px; color:white">Year:</label>
            <br />
            <select name="year1" id="year1" style="width:6.8rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
            <select name="year2" id="year2" style="width:6.8rem; height:1.7rem;">
                <option value="none"></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
            </select>
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="km" style="color:white; font-size:18px;">Km:</label>
            <br />
            <input type="text" id="min_km" name="min_km" style="width:6.8rem; height:1.7rem;">
            <input type="text" id="max_km" name="max_km" style="width:6.8rem; height:1.7rem;">
        </div>
        <div class="container" style="margin-top:0.1rem; margin-left:-1rem;">
            <label for="price" style="color:white; font-size:18px;">Price:</label>
            <br />
            <input type="text" id="min_price" name="min_price" style="width:6.8rem; height:1.7rem;">
            <input type="text" id="max_price" name="max_price" style="width:6.8rem; height:1.7rem;">
        </div>
        <a href="#" class="btn btn-search navbar-transparent" style="margin-top:0.7rem; margin-left:2.8rem; width:10rem; color:black; font-weight:bold;">Search</a>
    </div>
    <div class="pagination" style="margin-top:-50rem; margin-left:40rem;">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>


@if (Model != null)
{
    @foreach (var car in Model)
    {
            <div class="blog-post">
                <div class="blog-post_img">
                    <img src=@car.ImageFileUrl width="200" height="180";/>
                </div>
                <div class="blog-post_info">
                    <h1 class="blog-post_title">@car.nameAd</h1>
                    <h1 class="blog-post_price">Price: @car.Price</h1>
                    <p class="blog-post_address">
                        @car.Country, @car.City, @car.Address
                    </p>
                    <p class="blog-post_body">Body: @car.Body</p>
                    <p class="blog-post_year">Year: @car.Year</p>
                    <p class="blog-post_km">Km: @car.Km</p>
                    <p class="blog-post_fuel">Fuel: @car.Fuel</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Read More" class="btn btn-primary" style="margin-top:7.8rem; margin-left:-8.1rem; width:8rem; height:3rem; color:black; font-weight:bold;" />
                </div>
            </div>
            <br/> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    }
}
else
{
    <h1 style="position:absolute">@ViewData["Status"]</h1>
}